.wbdv-button {
    background-color: transparent;
    border-color: transparent;
}

.wbdv-course-title {
    margin-left: 4vh;
}

.wbdv-page-tab .nav-link.active {
    background-color: #1b1b1b8c;
}

.wbdv-page-tab .nav-item {
    min-width: 10vw;
    text-align: center;
}

.wbdv-course-editor.wbdv-close {
    color: white;
    font-size: xx-large;
    font-weight: 300;
    text-shadow: none;
}